<!DOCTYPE html>
<html lang="en">
<head>
	<title>영어단어장</title>
	<meta charset="utf-8">
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <td><B>뜻</B></td>
            <td><B>영어</B></td>
        </tr>
        </thead>
        <tbody>
        {% for word in words %}
        <tr>
            <td>{{words.word}}q</td>
            <td>{{words.meaning}}2</td>
            <td>{{words.example}}3</td>
        </tr>
        {% endfor %}
        <tbody>
    </table>
</body>
