<!DOCTYPE html>
<html lang="en">
<head>
	<title>영어단어장</title>
	<meta charset="utf-8">
<style type = "text/css">
	div
	#word_lap{
		width:100%;
		height:70%;
	}
	#timer{
		width:100%;
		height:30%;
	}
	#side_left{
	float:left; 
	width:30%;
	height:70%;
	}
	
	#side_middle{
	position:absolute;
	top:20%;
	left:30%;
	width:40%;
	height:50%;
	overflow:hidden;
	}
	
	#side_right{
		position:relative;
	 float:right; 
	 width:30%;
		 height :70%;
	}
</style>
		</head>
<body>
	<div class="container">
    <table class="table table-striped">
        <body>

		<div id="side_left">
		</div>
		<div id="side_middle"
			style="text-align:center">
			<div id="word_lap">
			<div>
			<p style="font-size:100px">
			{{words.word}}
			</p>
			</div>
			
			<div>
				<p>
			{{words.example}}
				</p>
			</div>
			</div>
		</div>
		<div id="timer">
		<SCRIPT language = "javascript">
	
		var SetTime=5;
		function msg_time(){
	
		var msg = "남은 시간 " + SetTime ;
		SetTime--;
		document.write(msg);
		if(SetTime <0){
			clearInterval(tid);
			}
		}	
		
		
		</script>

		
		<form action = 'next html' method='post'>
		{% csrf_token %}
		<button name = "check"
			style="width100pt; hegith;100pt">check </button>
		</form>

		<div id="side_right">
		<form action = '/mean/' method='post'>
		{% csrf_token %}
		<button name = "mean"
			style="width100pt; hegith;100pt"> 다음</button>
		{{words.update_counter}}
		</form>
		</div>
		</div>
<!--
	<p>{{words.word}}</p>
	<p>{{words.example}}</p>
	<form action = '/mean/' method='post'>
		{% csrf_token %}
		<button name = "mean" > 뜻</button>
	</form>
-->
	<body>
    </table>
</body>
